appdirs==1.4.3
certifi==2019.11.28
chardet==3.0.4
decorator==4.4.1
distlib==0.3.0
filelock==3.0.12
jedi==0.16.0
numpy==1.18.2
parso==0.6.1
Pillow==7.1.1
pipenv==2018.11.26
psycopg2==2.8.4
Pygments==2.5.2
pywin32==227
six==1.14.0
torch==1.4.0
torchvision==0.5.0
tornado==6.0.3
virtualenv==20.0.8
virtualenv-clone==0.5.3
